* {
  box-sizing: border-box;
}

body, p {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 175%;
}

header {
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  padding: 20px 0;
}

.row {
  margin-top: 5%;
  margin-bottom: 5%;
}

h1 {
  margin-bottom: 15px;
  text-align: center;
  font-size: 50px;
}

.box {
  width: 100%;
  overflow: none;
  position: relative;
}

.box-name {
  overflow: hidden;
  text-align: center;
  border: 4px solid black;
  width: 100px;
  height: 40px;
  padding: 5px;
  font-weight: bold;
  position: absolute;
  right: 7.5%;
  top: 0;
}

.content {
  border: 5px solid black;
  width: 90%;
  height: auto;
  margin: 2.5%;
  color: black;
  font-size: 25px;
  padding: 2%;
  padding-top: 55px;
  background-color: rgba(0, 0, 0, 0.3);
}

.title1 {
  background-color: #d49fa7;
  font-size: 125%;
}

.title2 {
  color: white;
  background-color: #b00c0c;
  font-size: 125%;
}

.title3 {
  background-color: #d1c78d;
  font-size: 125%;
}

.title4 {
  background-color: #d1c78d;
  font-size: 125%;
}

/* Large devices */
@media (min-width: 992px) {
  .col-lg-4 {
      float: left;
      width: 33.33%;
  }
}

/* Medium devices */
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
      float: left;
  }

  .col-md-6 {
      width: 50%;
  }

  .col-md-12 {
      margin-left: -10px;
      width: 100%;
  }

  .title3content {
    margin: 2.5% 0 2.5% 2.3%;
    width: 95%;
  }

  .box-name.name3 {
    right: 2.7%;
  }
}

/* Small devices */
@media (max-width: 767px) {
  .col-sm-12 {
      float: left;
      width: 100%;
  }
}
